birlik-bala-website/node_modules
.vscode
backend/cmd/.env
backend/cmd/uploads/videos
backend/cmd/uploads/photos
backend/cmd/uploads/articles
backend/cmd/uploads/diplomas
backend/cmd/uploads/files
backend/config/prod.yaml

.env